name: test

on:
  push:
    branches:
      - main

jobs:
  test-windows:
    defaults:
      run:
        shell: bash
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Download msvc
        run: |
          python.exe portable-msvc.py
          # tar -cvf msvc.tar *

      - uses: actions/upload-artifact@v3
        with:
          name: msvcdownloaded
          path: .
